@import '../../styles/variables.scss';

.todo-app {
  margin: 70px 0 40px;

  h1 {
    padding-bottom: 25px;
    font-size: 30px;
    text-align: center;
  }

  .header {
    padding: 25px;
  }

  .todo-count {
    float: right;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    color: $grey-color;
  }

  .add-todo-form {
    margin-top: 40px;
  }
}

.add-todo-input {
  width: 100%;
}
